CHIA_FULL_NODE_HOST=127.0.0.1
CHIA_FULL_NODE_PORT=8555
# CHIA_CERT_PATH=~/.chia/mainnet/config/ssl/full_node/private_full_node.crt
# CHIA_KEY_PATH=~/.chia/mainnet/config/ssl/full_node/private_full_node.key
PROXY_LISTEN_PORT=8555
ROCKSDB_PATH=rocksdb
RUST_LOG=info
# CACHE_ALLOWLIST=
