name: Build Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '20 0 * * 0'

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  package:
    uses: Chia-Network/actions/.github/workflows/docker-build.yaml@7e02505e810d2010ecd4e051c827ddec1c3c5090
    with:
      docker-platforms: 'linux/amd64'
      enable-cache: 'true'
      report-image-size: 'true'
